<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">    
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <h1>UPS, PARECE QUE ALGO SALIÓ MAL!</h1>
    <div class="saliomal">
        <h2>LO LAMENTAMOS, NO TENES LOS PERMISOS PARA PODER VER ESTA PÁGINA</h2>
        <h2><a href="/users/perfilusuario">VOLVER AL PERFIL DE USUARIO</a></h2>
    </div>
    
  
    <%- include("./partials/footer.ejs") %>
</body>
</html>